    {% if author.google.scholar %}
      <li>
        <a href="https://scholar.google.com/citations?user={{ author.google.scholar }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
          <i class="fab fa-google" aria-hidden="true"></i><span class="label">Google Scholar</span>
        </a>
      </li>
    {% endif %}

    {% if author.orcid %}
      <li>
        <a href="http://ORCID.org/{{ author.orcid }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
          <i class="fab fa-orcid" aria-hidden="true"></i><span class="label">Orcid</span>
        </a>
      </li>
    {% endif %}